.select-box {
  width: 100%;
  position: relative;
  float: left;
}

.select-box:after {
  content: url(../../assets/svg/ddl-down.svg);
  position: absolute;
  top: 4px;
  right: 12px;
}

.select-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
